{% extends "base.html" %}
{% load cms_tags %}
{% block content %}
    <div id="home-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="top-left">
            {% placeholder "home_jumbotron_top_left" %}
        </div>
        <div class="top-right">
            {% placeholder "home_jumbotron_top_right" %}
        </div>
        <div class="bottom-left">
            {% placeholder "home_jumbotron_bottom_left" %}
        </div>
        <div class="bottom-right">
            {% placeholder "home_jumbotron_bottom_right" %}
        </div>
        <div class="centered">
            {% placeholder "home_jumbotron_centered" %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12">
            {% placeholder "content" %}
        </div>
    </div>
{% endblock content %}
