{% load static %}
<div id="sitewide-masthead" class="container-fluid bg-white">
    <div class="row">
        <div id="logo-wrapper" class="col-12 col-sm-4">
            <a href="/">
                <img src="{% static 'images/WiseOneRealty-94x99.png' %}" alt="Wise One Realty logo">
            </a>
            <div id="tagline-wrapper" class="text-left">
               <div>
                   <strong>We List for One Percent</strong>
               </div>
                <div>
                    Get Wise, Pay Less & Keep More
                </div>
            </div>
        </div>
        <div id="masthead-nav-wrapper" class="col-12 col-sm-8">
            <nav class="navbar navbar-light navbar-expand-sm">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar-supported-content" aria-controls="navbar-supported-content"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class='material-icons md-inactive align-bottom'> menu</i> Menu
                </button>
            </nav>
        </div>
    </div>
</div>
