{% load menu_tags %}
<div class="collapse navbar-collapse" id="navbar-supported-content">
    <div class="navbar-nav mr-auto">
    {% for child in children %}
        {% if not child.children %}
            <!-- no child pages  -->
            <li class="nav-item {% if child.selected %} active{% endif %}">
                <a class="nav-link" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                    {{ child.get_menu_title }}
                    {% if child.selected %}<span class="sr-only"> (current) </span>{% endif %}
                </a>
            </li>
            <!-- /no child pages  -->
        {% else %}
            <!-- has child pages  -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ child.get_menu_title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                    {% if child.children %}
                        {% for kid in child.get_descendants %}
                            {% if not forloop.first %}
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ kid.attr.redirect_url|default:kid.get_absolute_url }}">
                                {{ kid.get_menu_title }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
        <!-- /end for child -->
    </ul>
</div>
