{% extends "base.html" %}
{% load static cms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-4">
                <h1 class="display-4">
                    Wise One Realty
                </h1>
                <div class="card mb-3 p-4 bg-light">
                    <h2 class="card-header bg-light">
                        Who we are
                    </h2>
                    <div class="card-text lead p-3">
                        A locally owned independent boutique real estate brokerage in Syracuse New York.  Here
                        to provide full service for those looking to buy or sell real estate anywhere in the Central New
                        York area.  Our experienced agents are ready and able to guide you in everything from pricing
                        and marketing, negotiations and closing to <em>SOLD</em>.
                    </div>
                </div>
                <div class="card mb-3 p-4 bg-dark text-success">
                    <h2 class="card-header bg-dark">
                        Wise 1% listing fee makes us different
                    </h2>
                    <div class="card-text lead p-3">
                        No upfront costs, no hidden fees, no catches.  Wise One offers the same full service to home
                        owners looking to sell their home on the MLS<small>&reg;</small> for an unmatched 1% listing fee, the lowest in the
                        area!  We act as buyers agents for 3% so if we both list and sell your home you pay only
                        4% total commission!  Keeping at least 2% in your pocket at the closing table, that's Wise.
                    </div>
                </div>
                <div class="card p-4 bg-light">
                    <h2 class="card-header bg-light">
                        We work for you
                    </h2>
                    <div class="card-text lead p-3">
                        Wise One realtors all have years of experience and work hard to earn each client's trust.  We
                        believe in providing only exceptional service with integrity. Why pay more when Wise One can
                        cost effectively sell your home for as little as 1%?
                    </div>
                    <h3 class="card-text my-4 text-center text-primary">
                        Full Service <i class="fas fa-sign"></i> Pay Less <i class="fas fa-dollar-sign"></i>
                        Keep More <i class="far fa-smile"></i>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
