html,
body {
    font-family: 'Lato', serif;
    background-color: #737d29;
    margin: 0;
}
#sitewide-masthead {
    border-bottom: #5e4e3b solid 2px;
    padding: 0.2em;
    position: relative;
    z-index: 1000;
}
#main-content {
    padding: 2em 0;
    z-index: 0;
}
#sitewide-masthead,
#main-content {
    background-color: #ffffff;
}
#tagline-wrapper {
    font-size: 0.7em;
    font-style: italic;
}
#sitewide-footer {
    background-color: #737d29;
    color: #ffffff;
    padding: 2em;
    border-top: #c2cf39 solid 2px;
}
/* Main masthead navigation */
#masthead-nav-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}
#masthead-nav-wrapper nav {
    background-color: white !important;
}
#masthead-nav-wrapper button.navbar-toggler {
    font-size: 1em;
    line-height: 1.3em;
}
#masthead-nav-wrapper #navbar-supported-content,
#masthead-nav-wrapper button.navbar-toggler,
#masthead-nav-wrapper div.navbar-nav {
    margin: 0 3em 0 auto !important;
}
#masthead-nav-wrapper button.navbar-toggler,
#masthead-nav-wrapper a.nav-link,
#masthead-nav-wrapper a.dropdown-menu,
#masthead-nav-wrapper a.dropdown-item {
    color: #747d3a;
    border-color: #88942d;
}
#masthead-nav-wrapper a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    margin: 0.1em;
    font-weight: bold;
    font-size: 0.9em;
}
#masthead-nav-wrapper div.dropdown-menu {
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}
#masthead-nav-wrapper a.dropdown-item {
    border: #747d3a solid 1px;
    padding: 1em;
    margin: 0 0 0 -1px;
}
#masthead-nav-wrapper a.dropdown-item:not(:last-child) {
    border-bottom: none;
}
#masthead-nav-wrapper a:hover,
#masthead-nav-wrapper a:active {
    color: #515917;
    border-bottom: 2px solid #c2cf39;
}
#masthead-nav-wrapper li.active a,
#masthead-nav-wrapper a.active {
    color: #0b0507 !important;
}
#masthead-nav-wrapper li.show,
#masthead-nav-wrapper a.dropdown-item:hover,
#masthead-nav-wrapper a.dropdown-item:active,
#masthead-nav-wrapper a.active {
    border: #747d3a solid 1px;
    background-color: #F7F9E1 !important;
}
/* blog styles */
#blog-wrapper {
    margin: 2em;
}
#blog-wrapper .aldryn-newsblog-sidebar {
    background-color: #c2cf39;
    padding: 1em 0.5em;
    border-radius: 5px;
}
#blog-wrapper .aldryn-newsblog-sidebar form,
#blog-wrapper .blog-categories,
#blog-wrapper .blog-tags {
    list-style: none none;
    margin: 0;
    padding: 0.6em;
    background-color: #FCFDF2;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 2px 0px rgba(115,115,115,1);
    -moz-box-shadow: 3px 2px 2px 0px rgba(115,115,115,1);
    box-shadow: 3px 2px 2px 0px rgba(115,115,115,1);
}
#blog-wrapper .aldryn-newsblog-sidebar form > input {
    width: 75%;
}
#blog-wrapper .aldryn-newsblog-sidebar form > button {
    width: 18%;
    color: #737E21;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#blog-wrapper .aldryn-newsblog-sidebar form > button:hover,
#blog-wrapper .aldryn-newsblog-sidebar form > button:active {
    background-color: #F7F9E1;
    border: 1px solid #747d3a;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
#blog-wrapper .blog-categories li,
#blog-wrapper .blog-tags li {
    display: block;
    margin: auto 0.3em;
    font-size: 1em;
}
#blog-wrapper .blog-categories:before {
    content: "Browse By Category:"
}
#blog-wrapper .blog-tags:before {
    content: "Browse By Tag:"
}
#blog-wrapper h2 small {
    font-size: 0.5em;
}
#blog-wrapper .lead-in {
    font-size: 1.2em;
}
#blog-wrapper .article-content {
    font-size: 1.1em;
}
#blog-wrapper .article-footer-nav {
    list-style: none none;
    margin: 2em;
}
#blog-wrapper .article-footer-nav li {
    display: inline-block;
    margin-left: 0.5em;
}
#blog-wrapper .article-footer-nav a {
    margin: 0;
    padding: 0.5em 0;
    line-height: 1.6em;
    vertical-align: text-bottom;
}
#blog-wrapper .article-footer-nav a > i {
    vertical-align: text-bottom;
}
#blog-wrapper #article-search-results h3 {
    margin: 1em 0;
    padding: 0;
}
#blog-wrapper #article-search-results li {
    margin: 0.5em 0;
    padding: 0.5em;
}
#blog-wrapper #article-search-results a {
    border: none;
}
#blog-wrapper #article-search-results a:hover,
#blog-wrapper #article-search-results a:active {
    border: none;
    text-decoration: underline;
}
/* Photo styles */
.photo.full-width {
    width: 100%;
}
/* Material Icon Styling */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-dark {
    color: #5e4e3b;
}
.material-icons.md-dark.md-inactive {
    color: #3F3527;
}
.material-icons.md-light {
    color: #689F38;
}
.material-icons.md-light.md-inactive {
    color: #737d29;
}
/* blockquotes */
blockquote.blockquote {
    color: #3B4111;
    background-color: #F7F7F7;
    font-family: "Times New Roman", serif;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 2em 0;
    padding: 0.5em 1em;
    position: relative;
    quotes: "\201C" "\201D";
}
blockquote.blockquote:before, blockquote.blockquote:after {
    display: block;
    font-size: 80px;
    position: absolute;
}
blockquote.blockquote:before {
    content: open-quote;
    left: 0;
    top: 0;
}
blockquote.blockquote:after {
    bottom: 0;
    content: close-quote;
    right: 0;
}
blockquote.blockquote cite {
    color: #515917;
    font-size: 0.9em;
    font-weight: bold;
}
/* regular site links */
#main-content a {
    color: #474D19;
    text-decoration: none;
    border-bottom: 1px solid #88942d;
}
#main-content a:hover,
#main-content a:active {
    color: #737d29;
    text-decoration: none;
    border-bottom: 2px solid #c2cf39;
}
/* home page jumbotron */
#home-jumbotron {
    display: block;
    width: 100%;
    height: 400px;
    margin: -2em -15px 2em 15px !important;
    padding: 1em;
    position: relative;
    background-size: cover;
    background: url(/static/images/House.jpg) 0 50%;
}
#home-jumbotron .jumbotron {
    margin: 0;
    padding: 0;
}
#home-jumbotron div {
    display: block;
    position: absolute;
    color: #ffffff;
    font-size: 1.8em;
    z-index: 25;
}
#home-jumbotron div.top-left {
    top: 2em;
    left: 2em;
}
#home-jumbotron div.top-right {
    top: 2em;
    right: 2em;
}
#home-jumbotron div.bottom-right {
    bottom: 2em;
    right: 2em;
}
#home-jumbotron div.bottom-left {
    bottom: 2em;
    left: 2em;
}
#home-jumbotron div.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 575px) {
    #masthead-nav-wrapper nav.navbar {
        padding: 0.1em;
    }
    #masthead-nav-wrapper #navbar-dropdown,
    #masthead-nav-wrapper a.nav-link {
        margin: 0;
    }
    #masthead-nav-wrapper #navbar-supported-content,
    #masthead-nav-wrapper button.navbar-toggler {
        margin: 0 auto 0 0.5em !important;
    }
    #masthead-nav-wrapper button.navbar-toggler {
        width: 98%;
        color: #515917;
    }
    #masthead-nav-wrapper #navbar-supported-content,
    #masthead-nav-wrapper button.navbar-toggler,
    #masthead-nav-wrapper div.navbar-nav {
        text-align: left;
    }
    #masthead-nav-wrapper #navbar-supported-content,
    #masthead-nav-wrapper div.navbar-nav {
        width: 99%;
        margin: 0;
    }
    #masthead-nav-wrapper a {
        padding: 1em;
    }
    #masthead-nav-wrapper li.nav-item a {
        border: #747d3a solid 1px;
        background-color: #FAFAFA;
    }
    #masthead-nav-wrapper a.dropdown-item {
        padding: 1em 2.5em;
        width: 100%;
        margin: 0 !important;
        background-color: #DBEAD2 !important;
        color: #515917;
    }
    #masthead-nav-wrapper li.show,
    #masthead-nav-wrapper li.nav-item a:hover,
    #masthead-nav-wrapper li.nav-item a:active,
    #masthead-nav-wrapper a.active {
        background-color: #F7F9E1 !important;
    }
    #blog-wrapper {
        margin: 1em;
    }
}
