:root {
    --blue: #29657d;
    --indigo: #33297d;
    --purple: #6b4e71;
    --pink: #F8D7DA;
    --red: #fc535f;
    --orange: #fd7e14;
    --orange-hover: #f6c837;
    --yellow: #F6F8DD;
    --md-yellow: #E9EEAE;
    --lt-green-yellow: #FAFBF3;
    --bright-green: #689F38;
    --bright-hover-green: #76B540;
    --lt-green-bg: #D5F0C1;
    --lt-green: #c2cf39;
    --md-green: #737d29;
    --md-hover-green: #919d34;
    --dk-green: #515917;
    --teal: #53687e;
    --teal-hover: #617A94;
    --cyan: #D5E3F0;
    --white: #ffffff;
    --black: #000000;
    --lt-brown: #9c9188;
    --md-brown: #83756a;
    --dk-brown: #5e4e3b;
    --lt-gray: #F5F5F5;
    --md-lt-gray: #E5E5E6;
    --gray: #CECED0;
    --gray-md: #707070;
    --gray-dark: #535353;
}
html,
body {
    font-family: 'Lato', serif;
    background-color: var(--md-green);
}
#sitewide-masthead {
    display: block;
    border-bottom: var(--md-brown) solid 1px;
    padding: 0.2em;
    position: relative;
    z-index: 1000;
}
#main-content {
    padding: 2em 15px;
    z-index: 0;
}
#sitewide-masthead,
#main-content {
    background-color: var(--white);
}
#tagline-wrapper {
    font-size: 0.75em;
    padding: 0.2em 0.5em;
}
#tagline-wrapper p {
    margin-bottom: 0;
}
#sitewide-footer {
    background-color: var(--md-green);
    color: var(--white);
    padding: 2em;
    border-top: var(--lt-green) solid 2px;
}
/* Main masthead navigation */
#masthead-nav-wrapper nav {
    background-color: var(--white) !important;
}
#masthead-nav-wrapper button.navbar-toggler {
    font-size: 1em;
    line-height: 1.3em;
}
#masthead-nav-wrapper #navbar-supported-content,
#masthead-nav-wrapper button.navbar-toggler,
#masthead-nav-wrapper div.navbar-nav {
    margin: 0 3em 0 auto !important;
}
#masthead-nav-wrapper button.navbar-toggler,
#masthead-nav-wrapper a.nav-link,
#masthead-nav-wrapper a.dropdown-menu,
#masthead-nav-wrapper a.dropdown-item {
    color: var(--md-green);
    border-color: var(--lt-green);
}
#masthead-nav-wrapper a.nav-link {
    white-space: nowrap;
    overflow: hidden;
    margin: 0.1em;
    font-weight: bold;
    font-size: 0.9em;
}
#masthead-nav-wrapper div.dropdown-menu {
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}
#masthead-nav-wrapper a.dropdown-item {
    border: var(--md-green) solid 1px;
    padding: 1em;
    margin: 0 0 0 -1px;
}
#masthead-nav-wrapper a.dropdown-item:not(:last-child) {
    border-bottom: none;
}
#masthead-nav-wrapper a:hover,
#masthead-nav-wrapper a:active {
    color: var(--dk-green);
    border-bottom: 2px solid var(--lt-green);
}
#masthead-nav-wrapper li.active a,
#masthead-nav-wrapper a.active {
    color: var(--black) !important;
}
#masthead-nav-wrapper li.show,
#masthead-nav-wrapper a.dropdown-item:hover,
#masthead-nav-wrapper a.dropdown-item:active,
#masthead-nav-wrapper a.active {
    border: var(--md-green) solid 1px;
    background-color: var(--yellow) !important;
}
/* blog styles */
#blog-wrapper {
    padding: 0 2em;
    min-width: 100%;
}
#blog-wrapper .aldryn-newsblog-sidebar {
    background-color: var(--lt-green);
    padding: 1em 0.5em;
    border-radius: 5px;
}
#blog-wrapper .aldryn-newsblog-sidebar form,
#blog-wrapper .blog-categories,
#blog-wrapper .blog-tags {
    list-style: none none;
    margin: 0;
    padding: 0.6em;
    background-color: var(--light);
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 2px 0px var(--gray);
    -moz-box-shadow: 3px 2px 2px 0px var(--gray);
    box-shadow: 3px 2px 2px 0px var(--gray);
}
#blog-wrapper .aldryn-newsblog-sidebar form > input {
    width: 75%;
}
#blog-wrapper .aldryn-newsblog-sidebar form > button {
    width: 18%;
    color: var(--primary);
    font-size: 0.7em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#blog-wrapper .aldryn-newsblog-sidebar form > button:hover,
#blog-wrapper .aldryn-newsblog-sidebar form > button:active {
    background-color: var(--yellow);
    border: 1px solid var(--primary);
    border-right-width: 2px;
    border-bottom-width: 2px;
}
#blog-wrapper .blog-categories li,
#blog-wrapper .blog-tags li {
    display: block;
    margin: auto 0.3em;
    font-size: 1em;
}
#blog-wrapper .blog-categories:before {
    content: "Browse By Category:"
}
#blog-wrapper .blog-tags:before {
    content: "Browse By Tag:"
}
#blog-wrapper h2 small {
    font-size: 0.5em;
}
#blog-wrapper .lead-in {
    font-size: 1.2em;
}
#blog-wrapper .article-content {
    font-size: 1.1em;
}
#blog-wrapper .article-footer-nav {
    list-style: none none;
    margin: 2em;
}
#blog-wrapper .article-footer-nav li {
    display: inline-block;
    margin-left: 0.5em;
}
#blog-wrapper .article-footer-nav a {
    margin: 0;
    padding: 0.5em 0;
    line-height: 1.6em;
    vertical-align: text-bottom;
}
#blog-wrapper .article-footer-nav a > i {
    vertical-align: text-bottom;
}
#blog-wrapper #article-search-results h3 {
    margin: 1em 0;
    padding: 0;
}
#blog-wrapper #article-search-results li {
    margin: 0.5em 0;
    padding: 0.5em;
}
#blog-wrapper #article-search-results a {
    border: none;
}
#blog-wrapper #article-search-results a:hover,
#blog-wrapper #article-search-results a:active {
    border: none;
    text-decoration: underline;
}
/* Photo styles */
figcaption {
    font-family: "Times New Roman", serif;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}
img.photo {
    border: none;
}
img.full-width {
    width: 100%;
}
img.inline-photo {
    display: inline;
    margin: 1em;
}
figure.inline-photo,
figcaption.inline-photo {
    display: inline;
    text-align: left;
}
figure.caption-overlay {
    position: relative;
    z-index: 0;
}
img.caption-overlay {
    position: relative;
    z-index: 20;
}
figure.caption-overlay figcaption {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 200;
    font-size: 1em;
    font-weight: bold;
}
/* Material Icon Styling */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.black {
    color: var(--black);
}
.material-icons.md-dark {
    color: var(--md-brown);
}
.material-icons.md-dark.md-inactive {
    color: var(--md-brown);
}
.material-icons.md-light {
    color: var(--bright-green);
}
.material-icons.md-light.md-inactive {
    color: var(--md-green);
}
.material-icons.white {
    color: var(--white);
}
/* blockquotes */
blockquote.blockquote {
    color: var(--dk-green);
    background-color: var(--light);
    font-family: "Times New Roman", serif;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 2em 0;
    padding: 0.5em 1em;
    position: relative;
    quotes: "\201C" "\201D";
}
blockquote.blockquote:before, blockquote.blockquote:after {
    display: block;
    font-size: 80px;
    position: absolute;
}
blockquote.blockquote:before {
    content: open-quote;
    left: 0;
    top: 0;
}
blockquote.blockquote:after {
    bottom: 0;
    content: close-quote;
    right: 0;
}
blockquote.blockquote cite {
    color: var(--dk-green);
    font-size: 0.9em;
    font-weight: bold;
}
/* regular site links */
#main-content a {
    color: var(--md-green);
    text-decoration: none;
    border-bottom: 1px solid var(--md-green);
}
#main-content a:hover,
#main-content a:active {
    color: var(--dk-green);
    text-decoration: none;
    border-bottom: 2px solid var(--lt-green);
}
/* home page jumbotron */
#home-jumbotron {
    display: block;
    width: 100%;
    margin: -2em 0 2em 0 !important;
    padding: 0;
    position: relative;
}
#home-jumbotron img,
#home-jumbotron figure {
    margin: 0 !important;
}
#home-jumbotron img {
    padding: 0;
    width: 100%;
}
#home-jumbotron div {
    display: block;
    position: absolute;
    color: var(--white);
    font-size: 1.8em;
    z-index: 25;
}
#home-jumbotron div.top-left {
    top: 1em;
    left: 1em;
}
#home-jumbotron div.top-right {
    top: 1em;
    right: 1em;
}
#home-jumbotron div.bottom-right {
    bottom: 1em;
    right: 1em;
}
#home-jumbotron div.bottom-left {
    bottom: 1em;
    left: 1em;
}
#home-jumbotron div.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* responsive YouTube embed */
.responsive-video-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.responsive-video-embed iframe,
.responsive-video-embed object,
.responsive-video-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Standard Tabs */
#main-content .nav-link {
    background-color: var(--md-lt-gray) !important;
    border: 1px solid var(--gray-dark) !important;
    border-bottom: none !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#main-content .nav-link.active {
    font-weight: bold;
    background-color: var(--white) !important;
}
#main-content .tab-pane {
    border: 1px solid var(--gray-dark) !important;
}
#main-content .tab-pane > .card {
    border-radius: 0 !important;
}
/* headings */
#main-content h1 {
    margin: 0.5em 0 1em 0;
}
#main-content h2 {
    margin: 1em 0 0.5em 0;
}

@media (max-width: 575px) {
    #masthead-nav-wrapper nav.navbar {
        padding: 0.1em;
    }
    #masthead-nav-wrapper #navbar-dropdown,
    #masthead-nav-wrapper a.nav-link {
        margin: 0;
    }
    #masthead-nav-wrapper button.navbar-toggler {
        width: 98%;
        color: var(--dk-green);
    }
    #masthead-nav-wrapper #navbar-supported-content,
    #masthead-nav-wrapper button.navbar-toggler,
    #masthead-nav-wrapper div.navbar-nav {
        text-align: left;
    }
    #masthead-nav-wrapper #navbar-supported-content,
    #masthead-nav-wrapper div.navbar-nav {
        width: 87%;
        margin: 0 !important;
    }
    #masthead-nav-wrapper a {
        padding: 1em;
    }
    #masthead-nav-wrapper li.nav-item a {
        border: var(--md-green) solid 1px;
        background-color: var(--light);
    }
    #masthead-nav-wrapper a.dropdown-item {
        padding: 1em 2.5em;
        width: 100%;
        margin: 0 !important;
        background-color: #DBEAD2 !important;
        color: var(--dk-green);
    }
    #masthead-nav-wrapper li.show,
    #masthead-nav-wrapper li.nav-item a:hover,
    #masthead-nav-wrapper li.nav-item a:active,
    #masthead-nav-wrapper a.active {
        background-color: var(--yellow) !important;
    }
    #blog-wrapper {
        padding: 0;
        margin: 0;
    }
    #home-jumbotron {
        position: static;
        background-color: var(--white);
    }
    #home-jumbotron div.top-left,
    #home-jumbotron div.centered {
        font-size: 1.2em;
        position: static;
        padding: 0.5em;
        color: var(--black);
    }
    #home-jumbotron div.top-right,
    #home-jumbotron div.bottom-right,
    #home-jumbotron div.bottom-left {
        display: none;
    }
}
